<% provide(:title, 'New WorkSpace') %>

<div class="channel_create">
  
  <div class="row new_channel">
    <div class="col-md-5 col-md-offset-4">
      <h1>New Channel</h1>
      <br><br>
      <%= form_for(:mchannel, url:createchannel_path) do |f| %>
          <%= f.label :channel_name, "Channel Name:" %>
          <%= f.text_field :channel_name, class: "form-control" %>  

          <div class="row">
            <div class="col-md-5 text-center">
              <%= f.radio_button :status, true %>
              <%= f.label :status, "Public" %>
            </div>
            <div class="col-md-5 text-center">
              <%= f.radio_button :status, false %>
              <%= f.label :status, "Private" %>
            </div>
          </div>
          <%= f.submit "Create", class:"btn btn-primary btn-lg btn-block"  %>
        <% end %>
      </div>
    </div>
</div>
  